$light-blue: #45CAFC;
$heavy-blue: #3145A3;
$font-color: #353535;
$not-hovered: #EFEFEF;
$light-orange: #FFD473;
$heavy-orange: #FC6A68;
$in-active-orange: #FFE2D9;
$in-active-blue: #C0EEFF;
$white: #fff;
$blue-linear-background: linear-gradient(54.58deg, $light-blue 0%, #ff000000 100%), $heavy-blue;
$orange-linear-background: linear-gradient(66.4deg, #FFD473 0%, rgba(255, 255, 255, 0) 100%), #FC6A68;