@import 'colors';
@import 'animations';
 
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    width: 90%;
    padding-top: 35px;
    margin: 0 auto;

    .general-text {
        color: $dark;

        &.title {
            font-size: 3.5rem;
        }
    }

    .player-selection {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 220px;

        .choose-player-text {
            display: flex;

            .general-text {
                font-size: 1.2rem;
                margin: 0;
                margin-right: 10px;
            }
        }

        .choose-player-buttons {
            cursor: pointer;
            display: flex;
            position: relative;
            background: $in-active-blue;
            border-radius: 5px;
            transition: background 0.3s ease;

            .logo {
                transition: filter 0.3s ease;
            }
            
            &.active {
                background: $in-active-orange;
                animation: slide-to-right 0.8s 1 forwards;
                
                .logo {
                    filter: invert(1);
                }
                
                .slider {
                    background: $orange-linear-background;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    transform: translateX(100%);
                }
            }
                    
            .player {
                pointer-events: none;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 45px;
                padding: 10px;
                
                .logo {
                    position: relative;
                    z-index: 30;
                }
            }
                    
            .slider {
                pointer-events: none;
                position: absolute;
                height: 100%;
                width: 50%;
                background: $blue-linear-background;
                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
                z-index: 20;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                transition: all .3s ease;
            }
        }
    }

    .choose-player-name {
        margin: 60px 0;

        .player-name {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 260px;
            margin-bottom: 50px;

            .input {
                width: 80%;
                height: 50px;
                padding: 20px;
                border-radius: 10px;
                border: none;
                background: $in-active-input;
                border: 2px solid $in-active-input;
                transition: all .3s ease;
                
                &:focus {
                    background: $white;
                    border: 2px solid $dark;
                }
            }
        }

        .difficulty-and-second-player {
            
            .difficulties {
                display: none;
            }
            
            .player-name {
                animation: fade-in 0.8s 1 forwards;
                display: flex;
            }
            
            &.active {
                .difficulties {
                    animation: fade-in 0.8s 1 forwards;
                    display: flex;
                }
                
                .player-name {
                    display: none;
                }
            }
        }
    }

    .difficulties {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        position: relative;
        height: 40px;
        background: $in-active-blue;
        border-radius: 5px;
        transition: background 0.3s ease;
        
        .difficulty {
            user-select: none;
            pointer-events: none;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            color: $dark;
            z-index: 30;
            width: 50%;
            transition: color 0.3s ease;

            &.easy-difficulty {
                color: $white;
            }
        }
        
        .slider {
            pointer-events: none;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 50%;
            background: $blue-linear-background;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            z-index: 20;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            transition: all 0.3s ease;
        }
        
        &.active {
            background: $in-active-orange;

            .easy-difficulty {
                color: $dark;
            }

            .hard-difficulty {
                color: $white;
            }
            
            .slider {
                transform: translateX(100%);
                background: $orange-linear-background;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }

    .start-game-button {
        cursor: pointer;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        bottom: 70px;
        width: 150px;
        padding: 15px 10px;
        background: $orange-linear-background;
        border: none;
        border-radius: 5px;
        color: $white;
        font-size: 1.4rem;
        transition: all 0.3s ease;
        
        &:hover {
            transform: translateY(-3px);
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
        }
    }
}